@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|IM+Fell+English:400,400i');
@page {
    size: A5;
    margin-top: 0.5in;
    margin-bottom: 0.5in;
    margin-inside: 0.5in;
    margin-outside: 0.5in;
}

html {
  font-size: 8pt;
}
body {
  font-family: 'IM Fell English', serif;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1;
}
h2 {
  font-style: italic;
  font-weight: lighter;
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1;
}
h3 {
  font-family: 'IM Fell English SC', serif;
  font-weight: normal;
  font-size: 1.4rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  line-height: 1;
}
p {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
mark {
  color: gray;
}
strong {
  font-family: 'IM Fell English SC', serif;
  font-weight: normal;
  font-size: 1.1rem;
}
small {
  font-family: 'IM Fell English', serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1;
}
div.hexpop {
    column-count: 2;
    column-gap: 4mm;
    column-fill: auto;
}
div.hexes {
  break-before: recto;
}
div.hexes_title {
  column-span: all;
  text-align: center;
  font-family: 'IM Fell English SC', serif;
  font-weight: normal;
}
div.hex {
  break-inside: avoid;
  margin-bottom: 5rem;
}
div.named_npcs {
  break-before: recto;
}
div.named_npcs_title {
  column-span: all;
  text-align: center;
  font-family: 'IM Fell English SC', serif;
  font-weight: normal;
}
div.named_npc {
  break-inside: avoid;
  margin-bottom: 5rem;
}
div.named_npc h1 {
  font-style: italic;
  font-weight: lighter;
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1;
}
div.npc_ref p {
  font-family: 'IM Fell English SC', serif;
  font-weight: normal;
  font-size: 1.2rem;
}
span.forest_icon {
  margin-left: -0.25rem;
}
span.forest_icon_2 {
  font-size: 1rem;
  margin-left: -0.6rem;
}
span.forest_icon_3 {
  font-size: 1.2rem;
  margin-left: -0.5rem;
  margin-right: -0.2rem;
}
span.mountain_icon {
  position: relative;
  top: 0.4rem;
  font-size: 1.9rem;
  margin-left: -0.15rem;
  margin-right: -0.1rem;
}
h3.mountain_landmark {
  margin-top: -0.48rem;
}